// Custom.scss
// This is the file you will want to update to customize your page.

// Import Google fonts here
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Source+Sans+3:wght@400&display=swap');



// Include any default variable overrides here (colors, font sizes, font family, etc..)

$primary: #A04ADD;
$secondary: #3B53C7;
$success: #A4D882;
$info: #59C1EF;
$warning: #FFF689;
$danger: #E5446D;
$light: #f2f2f2;
$dark: #181853;


$font-family-base: 'Source Sans 3', sans-serif;
$headings-font-family: 'Libre Baskerville', serif;


$body-bg: $light;


$navbar-dark-color: $light;
$navbar-dark-hover-color: $primary;

$h1-font-size: 3.052rem;
$h2-font-size: 2.441rem;
$h3-font-size: 1.953rem;
$h4-font-size: 1.563rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;


// Adjust nav link hover color here



// Typography
// Change font family for base text


// Change font family for headings



// Change font sizes for h1-h6 using values in assignment



@import "../node_modules/bootstrap/scss/bootstrap";

